html, body {
    background-color: #0f0f0f;
    background-size: 10000px;
    display: flex;
    justify-content: center;
    vertical-align:middle;
    margin: 0;
    height: 100%;
    width: 100%;
}

.buttons {
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.btn-head{
    text-decoration: none;
    font: bolder 15px monospace;
    color: #1dacff;
    opacity: 0;
    transform: translateY(25px);
    animation: fadeUp 0.2s ease-out forwards;
    animation-delay: 0.9s;
}

.btn-head1{
    text-decoration: none;
    font: bolder 15px monospace;
    color: #1dacff;
    opacity: 0;
    transform: translateY(25px);
    animation: fadeUp 0.2s ease-out forwards;
    animation-delay: 1.2s;
}

.btn-head2{
    text-decoration: none;
    font: bolder 15px monospace;
    color: #1dacff;
    opacity: 0;
    transform: translateY(25px);
    animation: fadeUp 0.2s ease-out forwards;
    animation-delay: 1.5s;
}

h1 {
    font: bolder 60px monospace;
    color: white;
}

.title {
    opacity: 0;
    transform: translateY(25px);
    animation: fadeUp 0.3s ease-out forwards;
    animation-delay: 0.2s;
}

.about-us {
    text-align: left;
}

header {
    text-align: center;
}

section {
    margin: auto;
    text-align: center;
}

footer {
    text-align: center;
}

p {
    font: normal 18px sans-serif;
    color: white;
}

.fl-desc {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.3s ease-out forwards;
    animation-delay: 0.5s;
}

.au-p {
    text-align: left;
}

hr {
    color: #00a2ff;
    width: 100%;
}

h4 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

table {
    margin: auto;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 0px;
}

.github-btn {
    background-color:  #24292e;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    color: white;
    display: inline-flex;
    transition: background-color 0.1s;
    font-weight: bold;
    border-radius: 8px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.discord {
    background-color:  #5865F2;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    color: white;
    display: inline-flex;
    transition: background-color 0.1s;
    font-weight: bold;
    border-radius: 8px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.github-btn:hover {
    background-color: #3a3f44;
}

.discord:hover {
    background-color: #6b75e2;
}

.social-medias {
    background-color: #148ca7;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    color: white;
    display: inline-flex;
    transition: background-color 0.1s;
    font-weight: bold;
    border-radius: 8px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.apps {
    display: inline-flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    scrollbar-width: none;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 2s;
}

.app{
    background-color: #222222;
    border-radius: 12px;
    width: 275px;
    height: 200px;
    text-align: left;
    margin: auto;
}

.project-title {
    margin: 20px 10px;
    font: bold 25px monospace;
    color: white;
    height: 80px;
    text-wrap-mode:nowrap;
}

.project-desc {
    font: normal 18px sans-serif;
    color: white;
    margin: -60px 10px;
}

.social-medias:hover {
    background-color: #0eabce;
}

.ico {
    margin:-50px 0px;
    height: 60px;
    width: 60px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeUpP {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}